.hun{
    margin: 0px;
    height: 100rem;
}
.rightFloat{
    float: right;
}
.nav-banner{
    position: fixed;
    top: 0px;
}
a:hover{
    color: initial; /* Takes initial value of the property which is black in this case */
    text-decoration: none;
}
.white{
color: white;
}
.black{
    color: black;
}
.notDisplay{
    display: none;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.BlackLink:link    {color:#000;}  /* unvisited link  */
.BlackLink:visited {color:#000;}  /* visited link    */
.BlackLink:hover   {color:#000;}  /* mouse over link */
.BlackLink:active  {color:#000;} /* selected link   */ 
